@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body {
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom right, #1C658C, #D8D2CB);
  background-attachment: fixed;

  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
html{
  height: 100%;
}
#root{
  width:100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
